*.dcm
*.kicad_pcb-bak
*.sch-bak
.idea
build
.gradle
local.properties
*.log
Output
*.emSession
ble_name.h
android/app/src/main/assets
*.jlink
nRF5_SDK_17.0.2_d674dde
nRF5_SDK_17.1.0_ddde560
.vscode
keys
*.hex
*.zip
*.o
